<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134410375961-d5252ejfs9dh1qsbjnfk0euq98g4gsfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134410375961-d5252ejfs9dh1qsbjnfk0euq98g4gsfa</string>
	<key>API_KEY</key>
	<string>AIzaSyAPUfJge-kRf8-UcQx8GEW5gQxAXjurg6A</string>
	<key>GCM_SENDER_ID</key>
	<string>134410375961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eyedecFront</string>
	<key>PROJECT_ID</key>
	<string>eyedecapp</string>
	<key>STORAGE_BUCKET</key>
	<string>eyedecapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134410375961:ios:7b4857695941a65f9d2b88</string>
</dict>
</plist>