<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271347922322-sbocb9jci3tcf6bmgcfkdh1kkq42727h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271347922322-sbocb9jci3tcf6bmgcfkdh1kkq42727h</string>
	<key>API_KEY</key>
	<string>AIzaSyCxJUhBrA7y1FThqz5rwyzya2YyFcO2-RI</string>
	<key>GCM_SENDER_ID</key>
	<string>271347922322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photowithoshiFront</string>
	<key>PROJECT_ID</key>
	<string>photo-with-oshi</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-with-oshi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271347922322:ios:158aed3dfe555f6428bd4b</string>
</dict>
</plist>